#editor {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

#output {
    position:absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    z-index: -1;
}

#button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

